/*--------------------*/
/*---Zeroing----*/
/*--------------------*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;color:black}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
.main {
   display: none;
   width:420px;
   height: 595px;
   position: relative;
   overflow: hidden;
   margin: 0 auto;
   top:50%;
   border:1px solid grey;
   margin-top: -300px;

}
.tetris {
   margin-top: -140px;
   display: flex;
   flex-wrap:wrap;
   bottom: 0;
   width:420px;
   height: 735px;
   position: relative;
   overflow: hidden;
   background-color: white;
   
}
.main:hover .tetris__close{
   display:block;
}
.square {
   width:35px;
   height:35px;
   border:1px solid grey;
}
.figure, .set {
   background-color: red;
}
input {
   position: absolute;
   top:9px;left:3px;
   color:black;
   font-size: 16px;
   font-weight: 700;
   z-index: 1;
   background-color: transparent;
}
.menu {
   display: block;
   position: relative;
   top:50%;
   width:420px;
   height: 595px;
   margin: 0 auto;
   margin-top:-297.5px;
   border:1px solid grey;
   background-image:url('../image/tetris.png');
   background-repeat: no-repeat;
   background-size: cover;
}
.menu__start {
   position: absolute;
   top:70%;left:50%;
   margin-left: -7em;
   font-size: 18px;
   border:0.3em solid#fb4702;
   width:14em;
   height:3em;
   border-radius:0.2em;
   background-color: #af0158;
   color:white;
   font-weight: 700;
}
.tetris__close {
   display: none;
   position: absolute;
   top:1px;right:0px;
   color:black;
   font-size: 2em;
   z-index:20;
}
.tetris__close:hover {
   color:#a99e9e;
   cursor: pointer;
}